*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

a{
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    text-decoration: none;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    opacity: 0.5;
}

@media screen and (max-width: 700px){
    body{
        flex-wrap: wrap;
    }

    a{
        width: 50vh;
        height: 50vh;
    }
}